.body-chat
{
  padding: 0;
}

.chat-header,
.chat-header a
{
  background-color: #a1c0d6;
  color: black;
}


.chat-header
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat
{
    background-color: #a1c0d6;
    height: 100vh;
    padding-top: 15px;
}

.header_bottom .header_column-chat:first-child
{
  display: flex;
  position: relative;
  text-align: left;
}

.header_bottom .header_column-chat:last-child
{
  display: flex;
  position: relative;
  text-align: right;
}

.header_bottom .header_column-chat:nth-child(2)
{
  display: flex;
  position: relative;
  text-align: center;
}

.header_bottom .header_column-chat
{
  display: flex;
  justify-content: space-between;
}
.header_column-chat
{
  margin-bottom: 5px;
}

.date-divider
{
    padding-top: 5px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.chat_message-from-me
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chat_message-time
{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);

}
.chat_message
{
    margin-bottom: 10px;
}
.chat_message-from-me .chat_message-text
{
  padding: 15px;
  background-color: yellow;
  border-radius: 5%;
  margin-left: 5px;

}

.chat_message-meesage-to img
{
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  align-self: flex-start;
}

.chat_message-meesage-to
{
  display: flex;
}

.chat_message-user
{
  margin-top: 10px;
  margin-bottom: 30px;
}

.chat_message-text
{
  padding: 15px;
  background-color: white;
  border-radius: 5%;
  margin-left: 5px;
}



.type_meesage
{
  display: flex;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 45px;
  background: #eeeeee;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
}

.fa-plus
{
  color: #b4b4b4;
}

.type_meesage-input
{
  width: 80%;
  display: flex;
    align-items:center;
    position: relative;
}

.type_meesage-input input
{
  width: 100%;
  padding: 10px;
}

.type_meesage .fa-smile-o
{
  position: absolute;
  right: 50px;
  color: #b4b4b4;
}

.fa-microphone
{
  padding: 10px;
  padding-left: 15px;
  background-color: yellow;
  color: brown;
  cursor: pointer;

}
